extends layout

block content
  .w3-card-4
      header.w3-container.w3-dark-grey
        h1 Editar ficheiros publicados

      .w3-container
        if(ficheiros.length > 0)
          div.w3-cells-row.w3-margin-top.w3-margin-bottom
            div.w3-container.w3-cell
                input(type="text" id="searchbar" placeholder="Search..." class="w3-input w3-border w3-round")
            div.w3-container.w3-cell
                select(id="searchType" class="w3-select w3-border w3-round" name="tipo")
                    option(value="1" selected) Ficheiro
                    option(value="2") Titulo Recurso
                    option(value="3") Tipo
          div.visible(id="report")
            if(erro)
                p.w3-red.w3-center=erro
            else
                if(sucesso)
                p.w3-green.w3-center=sucesso
          table.w3-table-all(id="tabela")
            thead
                tr
                    th(id="0" onclick="sortTable(0)") Data
                    th(id="1" onclick="sortTable(1)") Ficheiro
                    th(id="2" onclick="sortTable(2)") Titulo Recurso
                    th(id="3" onclick="sortTable(3)") Tipo
                    th(id="4" onclick="sortTable(4)") Likes
                    th(id="5" onclick="sortTable(5)") Dislikes
            tbody(id="tableBody")
                each f in ficheiros
                    tr(id="row-"+f._id)
                        td=f.data_submissao
                        td=f.nome_ficheiro
                        td=f.titulo_recurso
                        td(id="tipo-"+f._id)=f.tipo_recurso
                        td=f.likedBy.length
                        td=f.dislikedBy.length
                        td
                            button(id="edit-"+f._id class="w3-button w3-round-large w3-tiny w3-blue")
                                i(class="fa fa-pen")
                        td
                            button(id="remove-"+f._id class="w3-button w3-round-large w3-tiny w3-red") Remover
                  
        else
          p Ainda não há ficheiros armazenados...

  script(type ="text/javascript" src="/javascripts/tableQuery.js")                             
  script.
    
    var lastColumn = undefined
    var lastText = undefined
    var lastId = undefined

    function sortTable(n){
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("tabela");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } 
                else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount ++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
        if(lastColumn!=undefined){
            var temp = rows[0].getElementsByTagName("th")[lastColumn].innerHTML
            var tempSplit = temp.toString().split(" ")
            rows[0].getElementsByTagName("th")[lastColumn].innerHTML = tempSplit[0]
        }
        var th = rows[0].getElementsByTagName("th")[n].innerHTML
        var split = th.toString().split(" ")
        if(dir == "asc"){
            rows[0].getElementsByTagName("th")[n].innerHTML = split[0] +" ▲"
        }else{
            rows[0].getElementsByTagName("th")[n].innerHTML = split[0] +" ▼"
        }
        lastColumn = n;
    }
        
    $(document).on('click','button[id^=edit]',function(){
        var id = $(this).attr("id").split("-")[1]
        if(lastId){
            $("#row-"+lastId).children("td:eq(-1)").remove()
            $("#row-"+lastId).children("td:eq(-1)").remove()
            $("#row-"+lastId).append('<td><button id="edit-'+lastId +'" class="w3-button w3-round-large w3-tiny w3-blue"><i class="fa fa-pen"></i></button></td>')
            $("#row-"+lastId).append('<td><button id="remove-'+lastId+'" class="w3-button w3-round-large w3-tiny w3-red">Remover</button></td>')
            $("#tipo-"+lastId).html(lastText)
        }
        $("#row-"+id).children("td:eq(-1)").remove()
        $("#row-"+id).children("td:eq(-1)").remove()
        $("#row-"+id).append('<td><button id="accept-'+id+'" class="w3-button w3-round-large w3-tiny w3-green"><i class="fa fa-check"></i></button></td>')
        $("#row-"+id).append('<td><button id="cancel-'+id+'" class="w3-button w3-round-large w3-tiny w3-red"><i class="fa fa-times"></i></button></td>')
        var text = $("#tipo-"+id).text()
        lastText = text
        $("#tipo-"+id).html('<select id="select-'+id+'" class="w3-select" name="tipo"><option value="Teste/Exame">Teste/Exame</option><option value="Slides">Slides</option><option value="Manual">Manual</option><option value="Tese de Mestrado">Tese de Mestrado</option><option value="Outro">Outro</option></select>')
        lastId = id
    })

    $(document).on('click','button[id^=cancel]',function(){
        var id = $(this).attr("id").split("-")[1]
        console.log($(this))
        $("#row-"+id).children("td:eq(-1)").remove()
        $("#row-"+id).children("td:eq(-1)").remove()
        $("#row-"+id).append('<td><button id="edit-'+id+'" class="w3-button w3-round-large w3-tiny w3-blue"><i class="fa fa-pen"></i></button></td>')
        $("#row-"+id).append('<td><button id="remove-'+id+'" class="w3-button w3-round-large w3-tiny w3-red">Remover</button></td>')
        $("#tipo-"+id).html(lastText)
        lastId = undefined
    })

    $(document).on('click','button[id^=accept]',function(){
        var id = $(this).attr("id").split("-")[1]
        $("#row-"+id).children("td:eq(4)").remove()
        $("#row-"+id).children("td:eq(4)").remove()
        $("#row-"+id).append('<td><button id="edit-'+id+'" class="w3-button w3-round-large w3-tiny w3-blue"><i class="fa fa-pen"></i></button></td>')
        var valor = $("#select-"+id+" option:selected").val()
        $("#tipo-"+id).text(valor)
        lastId = undefined
        if(valor != lastText){
            var data = {}
            data["tipo_recurso"] = valor
            $.ajax({
                url:"/editar/"+id,
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function(response){
                    if(response.result == "redirect"){
                        window.location.replace(response.url)
                    }
                },
                error: function(){
                    location.reload()
                }
            })
        }
    })

    $(document).on('click','button[id^=remove]',function(){
        var id = $(this).attr("id").split("-")[1]
        lastId = undefined
        var data = {}
        $.ajax({
            url : "/editar/"+id,
            type: 'DELETE',
            success: function(){
                location.reload()
            },
            error: function(){
                location.reload()
            }
        })
        
    })

    