extends layout

block content
  h1 Registo da musica #{musica.id}
  p
    b Id: 
    span=musica.id
  p
    b Titulo:  
    span=musica.tit
  p
    b Musico: 
    span=musica.musico
  p
    b Provincia:  
    span=musica.prov
  p
    b Duracao: 
    span=musica.duracao
