extends layout

block content
  h1 Pagina da provincia #{provId}
  h2=date
  table 
    tr 
      th Identificador 
      th Titulo 
      th Local
    each p in provs 
      tr 
        td=p.id
        td
          a(href="http://localhost:3022/musicas/#{p.id}")=p.tit
        td=p.local